<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Merry_Xmas</title>
</head>
<body>
    <div id="app">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked />
        
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>

        <span id="yes" class='tab'> <img src="https://i.imgur.com/kHuMAXl.png"></span>
        <span id="no" class='tab'> <img src="https://i.imgur.com/9pWiOTa.png"></span>
    </div>
    
    <script src="/js/all.js"></script>
</body>
</html>